.hot .box .back {
    position: absolute;
    top: 30px;
    display: block;
    color: yellow;
    width: 50px;
    font-size: 22px;
}

.hot .box .back:hover {
    color: coral;
}

.hot .box {
    position: relative;
    padding: 10px;
    /* background-color: #c62f2f; */
    background-image:linear-gradient(to right bottom,rgb(200,0,0),rgb(150,0,0));
}

.hot .box h1 {
    text-align: center;
    color: white;
}

.hot #views textarea {
    border: none;
    width: 960px;
    height: 500px;
    font-size: 20px;
    padding: 20px;
    resize: none;
}

.hot .box .ok{
    position: absolute;
    right: 10px;
    top: 12px;
    display: block;
    width: 80px;
    height: 50px;
    border-radius: 25px;
    background-color: red;
    font-size: 25px;
    line-height: 50px;
    font-weight: 600;
    color: yellow;
    text-decoration: none;
    text-align: center;
}

.tip p{
    display: block;
    /* position: absolute; */
    width: 200px;
    color: red;
    font-size: 20px;
    margin: auto;
    text-align: center;
}