#banner {
    height: 510px;
    /* width: 1100px; */
    position: relative;
    margin-top: 5px;
}

#banner ul>li {
    position: absolute;
    left: 50%;

    transition: 1s;
    opacity: 0;
}

#banner ul li img {
    display: block;
    /* height: 500px; */
    width: 1100px;
    margin-left: -550px ;
}