* {
    padding: 0;
    margin: 0;
    /* border: hidden; */
    user-select: none;
    text-decoration: none;
}

@keyframes change {
    
    from {

    }

    to {
        background-color:#b22f2f;
    }
}


.hot {
    /* background-color: #f5f5f5; */
    /* border: 1px solid #f0f0f0; */
    box-shadow:  0 0 5px 5px rgba(0,0,0,.3);
    background-color: #fafafa;
    margin: 15px;
    width: 1000px;
    padding: 15px;
    /* height: 50px; */
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
    /* display: flex; */
}


.hot .box {
    height: 50px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.hot .box .header {
    font-family: "黑体";
    font-weight: 600;
    /* float: left; */
    width: 80px;
    /* background-color: #e0e0e0; */
    margin: 1px;
    float: left;
    /* display: inline-block; */
    display: block;
    color: black;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 10px;
}

.hot .header:hover {

    margin: 0;
    background-color: #fafafa;
    border: 1px rgba(0,0,0,.1) solid;
    border-bottom: none;
    color: red;
}

.hot .header:active {
    
    margin: 0;
    background-color: #fafafa;
    border: 1px rgba(0,0,0,.1) solid;
    border-bottom: none;
    color: red;
}

.hot .view {
    margin-top: 20px;
    border-bottom:2px solid rgba(0,0,0,.5);
}

.hot .view .box {
    padding-left: 20px;
    height: 80px;
    display: flex;
    align-items: center;
    
}

.hot .view .box .usimg {
    /* margin-left: 20px; */
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.hot .view .box .name {
    float: left;
    margin-left: 30px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
    font-family: "宋体";
}

.hot .view .text {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    /* display: block; */
    background-color: #fafafa;
    /* width: 700px; */
    /* height: 100px; */
    border: 2px outset;
    font-family: "宋体";
    font-weight: 500;
    font-size: 20px;
    text-indent: 1.5em;
}

aside div {
    position:fixed;
    right:20px;
    bottom:50px;
}

aside div a {
    display: block;
    width: 50px; 
    height: 50px; 
    background-color: red; 
    color: white; 
    font-size: 40px; 
    text-align: center;
}
