* {
    padding: 0;
    margin: 0;
    /* border: hidden; */
    user-select: none;
    text-decoration: none;
}

@keyframes change {
    from {

    }

    to {
        background-color:#b22f2f;
    }
}

html,body {
    min-width: 1390px;
    height: 100%;
}

input::-webkit-input-placeholder {
    color: #c67171;
    font-size: 17px;
  }

.sum {
    /* display: flex;
    align-items:center; */
    width: 100%;
    height: 100%;
}

.head {
    display: flex;
    align-items:center;
    /* overflow: hidden; */
    /* padding: 0 100px; */
    height: 60px;
    background-color: #c62f2f;
    line-height: 60px;
}

 .usimg {
    /* margin-left: 20px; */
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.head .logo {
    padding:0 100px;
    display: inline-block;
    height: 100%;
    font: normal 700 35px/60px "华文行楷";
    color: white;
}

.head .button {
    display: inline-block;
    height: 100%;
    width: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: white;
    
}

.head .button:hover {
    /* background-color: #b22f2f; */
    
    animation:change 0.5s;
    animation-fill-mode:forwards;
}

.head .searchbg {
    margin-left: 40px;
    background-color: #a82828;
    width: 370px;
    height: 40px;
    color: black;
    border-radius: 20px;
    margin-right: 80px;
}

.head .searchbg .input {
    /* display: block; */
    /* width: 150px;
    height: 30px;
    border-radius: 15px;
    margin-top: auto; */
    width: 280px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    background-color: rgba(255,255,255,0);
    border: none;
    outline: none;
    font-size: 15px;
    
}

/* .head input:focus {
    color: white;
} */
